body
{
  width: 100%;
  height: 100%;
  background-image: url(..//资料/背景图片.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}
.logo
{
  left: 30%;
  position:absolute;
  bottom: 100px;
}
.wrap
{
  width:480px;
  height: 10px;
  position:absolute;
  left:48%;
  transform: translate(-50%);
  bottom: 80px;
}
.nav
{
  width: 600px;
  height: 80px;
  list-style: none;
  display: flex;
  background-color: rgb(222, 6, 6);
  border-radius: 20px;
}
.iconfont
{
  font-size: 30px;
}
.nav a
{
  width: 120px;
  height: 100%;
  display: inline-grid;
  place-items: center;
  font-size: 12px;
  text-decoration:none;
  color:#fff;
  z-index: 1;
  position:relative;
  overflow: hidden;
}
.a .active
{
  transform: translateY(-25%);
  transition: left 0.5s cubic-bezier(0.175,0.885,0.32,1.275);
}
.music
{
  position:relative;
  left:92%;
  height: 100px;
  width:120px;
}
